* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    color: #555;
}

a {
    color: #555;
}

ul {
    list-style: none;
}

/* h1, h2, h3, h4, h5, h6 {
    font-family: 'IBM Plex Sans', sans-serif;
} */

header {
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    color: white;
    padding: 35px 100px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header a {
    text-decoration: none;
    color: white;
    opacity: 0.6;
    cursor: pointer;
}

header a:hover {
    opacity: 1;
}

header nav ul {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header nav li {
    margin: 0 6px;
}

header nav li:first-child {
    margin: 0;
}

header nav li:last-child {
    margin: 0;
}

@media(max-width:1000px) {
    header {
        text-align: center;
        flex-direction: column;
        padding: 20px 50px;
    }
    header nav {
        justify-content: space-around;
    }
}

/* Hero styling below */

#hero {
    background: gray;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../images/jumbotron.jpg');
    background-repeat: none;
    background-size: cover;
    min-height: 100vh;
}

#hero h1, #hero h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 28px;
    text-shadow: 2px 2px #000;
    margin-bottom: 40px;
}

#hero h1 {
    font-size: 60px;
    margin-bottom: 15px;
}

@media(max-width:800px) {
    #hero {
        min-height: 600px;
    }
    #hero h1 {
        font-size: 36px;
    }
    #hero h3 {
        font-size: 18px;
    }
}

/* end of Hero styling */

/* Start of About styling */

h3.title {
    color: #131633;
    text-transform: capitalize;
    font-size: 32px;
    margin-bottom: 35px;
    text-align: center;
}

#about {
    padding: 10px;
    background-color: #f7f7f7;
    margin-bottom: 20px;
}

#two-cols {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#about-pic {
    border: 1px solid black;
    border-radius: 50%;
    width: 200px;
}

#about-bio {
    width: 65%;
    max-width: 800px;
    line-height: 2;
    margin-left: 20px;
}

@media(max-width:600px) {
    #about, #two-cols {
        flex-direction: column;
    }
    #about-bio {
        margin-top: 20px;
        line-height: 1.5;
        text-align: left;
    }
}

hr {
    width: 150px;
    height: 2px;
    background-color: #2196f3;
    border: 0;
    margin: 40px auto;
}

#technologies ul {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#technologies img {
    max-width: 100px;
    max-height: 100px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* end of About styling */

/* Start of gallery styling */

#gallery p {
    text-align: center;
}

#projects-holder {
    display: grid;
    grid-gap: 50px 50px;
    grid-template-columns: auto auto;
    justify-content: center;
    margin-left: 5vw;
    margin-right: 5vw;
}

.project-box{
    width: auto;
    transition: all 1s;
    border: 1px solid black;
    border-radius: 5%;
}
.project-box:hover{
    transform: scale(1.05);
}

.screenshot {
    width: 90%;
    height: auto;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.screenshot:hover {
    cursor: pointer;
}

.project-label {
    font-size: 23px;
    text-align: center;
    width: 100%;
}

#gallery a {
    color: #131622;
}

@media(max-width:1000px) {
    #projects-holder {
        display: grid;
        grid-gap: 3em;
        grid-template-columns: auto;
        justify-content: center;
    }
}

/* End of gallery styling */


#badge {
    text-align: center;
}

#contact-form {
    text-align: center;
}

/* Footer styling below */

footer {
    background-color: #131622;
    color: white;
    background: linear-gradient(to bottom, #284e7a, #000 100%);
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
}

footer ul {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
}

footer ul li {
    margin: 0 8px;
}

footer ul li a {
    font-size: 36px;
    cursor: pointer;
}

@media(max-width:800px) {
    footer {
        padding: 80px 15px;
    }
}

/* end of footer styling */