* {
    font-family: 'IBM Plex Sans', sans-serif;
}

/* This all sets up the header of the page */
#header {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: grey;
    background-color: white;
}
.navbar>.navbar-brand {
    font-size: 20pt;
    background-color: teal;
    padding: 25px;
    color: white;
}
.navbar>.navbar-brand:hover {
    color: white;
}
.navbar {
    background-color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}
li:hover {
    text-decoration: underline;
}
a:visited, a:hover {
    color: grey;
}

/* End of the header */

#outer-box {
    background-image: url("../images/white-waves.png");
}

#inner-box {
    margin-top: 50px;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    background-color: white;
}

.img-fluid {
    float: left;
    padding: 20px;
}

img {
    padding: 10px;
    box-sizing: border-box;
}

.project-label {
    font-size: 18pt;
    width: 280px;
    padding: 10px;
    display: block;
    background-color: teal;
    color: white;
    text-align: center;
    position: relative;
    left: 10px;
    bottom: 70px;
}



h1 {
    font-size: 18pt;
    padding: 10px;
    color: teal;
    font-family: 'IBM Plex Sans', sans-serif;
}

h2 {
    font-size: 16pt;
    padding-bottom: 10px;
    padding-top: 10px;
}

p {
    padding: 10px;
    color: black;
    font-size: 14;
}

textarea {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14pt;
}

input {
    background-color: teal;
    margin-top: 10px;
    padding: 10px;
    width: auto;
    height: auto;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14pt;
    position: relative;
    left: 220px;
    color: white;
}

/* This all sets up the sticky footer */
html {
    position: relative;
    min-height: 100%;
    background-image: url("../images/white-waves.png");
  }
body {
    margin-bottom: 100px;
    background-image: url("../images/white-waves.png");
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #666666;
    padding: 20px;
    text-align: center;
    border-top: 8px solid #4aaaa5;
}

/* End of the footer */