
header {
    width: 960px;
    height: 76px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}
.my-name{
    font-size: 20pt;
    padding: 25px;
    float: left;
    display: block;
    background-color: teal;
    color: white;
}

.my-picture {
    float: left;
    padding: 20px;
}

.column, .row::after, img, .project-label {
    box-sizing: border-box
}
.column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
  }


img {
    padding: 10px;
    box-sizing: border-box;
}

.project-label {
    font-size: 18pt;
    width: 280px;
    padding: 10px;
    display: block;
    background-color: teal;
    color: white;
    text-align: center;
    position: relative;
    left: 10px;
    bottom: 70px;
}

ul{
    display: block;
    float: right;
    padding: 20px;
}

a {text-decoration: none;}

li{
    padding:8px 14px;
    float:left;
    width:auto;
    display:block;
}
li:hover{
    text-decoration: underline;
}
a:visited, a:hover {
    color: grey;
}

#first, #second {
    
    border-right-width: 1px;
    border-right-style: groove;
    border-right-color: #666666;
}

h1 {
    font-size: 18pt;
    padding: 10px;
    color: teal;
    font-family: 'IBM Plex Sans', sans-serif;
}

h2 {
    padding-bottom: 10px;
    padding-top: 10px;
}

.outer-content-box {
    background-image: url("../images/white-waves.png");
    border-top-width: 2px;
    border-top-color: grey;
    border-style: solid;
    padding-bottom: 50px;
    min-height: calc(100vh - 196px);
}

.inner-content-box {
    width: 920px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-color: #666666;
    border-width: 2px;
    font-family: 'IBM Plex Sans', sans-serif;
}
p {
    padding: 10px;
    color: black;
    font-size: 14;
}

textarea {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14pt;
}

input {
    background-color: teal;
    margin-top: 10px;
    padding: 10px;
    width: auto;
    height: auto;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14pt;
    position: relative;
    left: 220px;
    color: white;
}
footer {
    background-color: #666666;
    padding: 20px;
    text-align: center;
    border-top: 8px solid #4aaaa5;
}